p {
	color: white;
	background-color: green;
	font-family: verdana, "times new roman", serif;
	margin: 20px;
	padding: 40;
	
}
body{
	color: yellow;
	background-color: blue;
	
}

h1{
	font-size: 50px;
	padding: 30px;
	border-style: dashed;
	text-align: center;
}
nav {
	position: fixed;
	background-color: #3515b0;
	color: white;
	width: 100%;
	top: 0;
	left: 0;
}

nav a {
	color: yellow;
	text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
	padding-left: 20px;
}